* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif; }

header #menu {
  font-size: 25px;
  margin: 20px;
  padding: 25px; }

section .p-bio {
  display: flex;
  margin: 15px; }
  section .p-bio p {
    font-size: 35px;
    text-align: left; }
  section .p-bio img {
    width: 40%;
    height: 33%; }

#t-bio {
  text-align: left;
  margin-left: 2%;
  font-size: 55px; }

body header h1 {
  text-align: left; }

header #menu {
  font-size: 25px;
  margin: 20px;
  padding: 25px; }

section h1 {
  text-align: left;
  font-size: 55px;
  padding-left: 2%; }

section p {
  font-size: 35px;
  text-align: left;
  padding: 20px; }

.f-autosabandonados {
  display: flex;
  justify-content: space-evenly; }
  .f-autosabandonados img {
    width: 470px;
    height: 400px;
    padding: 10px; }

.contenedor {
  position: relative;
  display: inline-block; }

.texto {
  position: absolute;
  bottom: 50%;
  left: 0;
  border-radius: 10px;
  color: black;
  border-radius: 10px;
  background-color: #fafafa;
  padding: 10px;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s; }

.contenedor:hover .texto {
  opacity: 1; }

header #menu {
  font-size: 25px;
  margin: 20px;
  padding: 25px; }

h2 {
  text-align: left;
  margin-left: 2%; }

h3 {
  text-align: left;
  padding-left: 2%; }

#p-exhibiciones {
  text-align: left;
  font-size: 25px;
  text-align: left; }

.exhibiciones {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .exhibiciones img {
    width: 33%;
    height: 30%;
    padding: 20px; }

header #menu {
  font-size: 25px;
  margin: 20px;
  padding: 25px; }

video {
  width: 600px;
  height: 600px;
  margin-left: 40%;
  margin-top: 10px;
  margin-bottom: 10px; }

.imgproyecto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .imgproyecto img {
    width: 25%;
    height: 25%;
    margin: 20px; }

#p-ilustraciones {
  text-align: left; }

#h-ilustraciones {
  text-align: center;
  font-size: 65px; }

.img-ilustraciones {
  display: flex;
  justify-content: space-evenly; }
  .img-ilustraciones img {
    width: 550px;
    height: 400px; }

.contenedor {
  position: relative;
  display: inline-block; }

.texto {
  position: absolute;
  bottom: 50%;
  left: 0;
  border-radius: 10px;
  color: #fafafa;
  border-radius: 10px;
  background-color: black;
  padding: 10px;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s; }

.contenedor:hover .texto {
  opacity: 1; }

#h-pinturasabstractas {
  text-align: center; }

#p-pinturasabstractas {
  text-align: left; }

#img-pinturasabstractas {
  display: flex;
  justify-content: space-evenly; }
  #img-pinturasabstractas img {
    width: 600px;
    height: 350px; }

#h-acrilicos {
  text-align: center; }

#p-acrilicos {
  text-align: left; }

#img-acrilicos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  #img-acrilicos img {
    width: 550px;
    height: 400px;
    padding: 20px; }

#h-cuadro {
  text-align: center; }

#p-cuadro {
  text-align: left; }

.img-cuadro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .img-cuadro img {
    width: 750px;
    height: 500px;
    padding: 20px; }
