@import "../utils/mixin";

header{
    #menu{
        @include menu
    }
}

section{
    h1{
        text-align: left;
        font-size: 55px;
        padding-left: 2%;
    }
    p{
        font-size: 35px;
        text-align: left;
        padding: 20px;
    }
}

.f-autosabandonados{
    display: flex;
    justify-content: space-evenly;
    img{
        width: 470px;
        height: 400px;
        padding: 10px;
        
    }
}

.contenedor {
    position: relative;
    display: inline-block;
}

.texto {
    position: absolute;
    bottom: 50%;
    left: 0;
    border-radius: 10px;
    color: black;
    border-radius: 10px;
    background-color: #fafafa;
    padding: 10px;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.contenedor:hover .texto {
    opacity: 1; 
}