@import "../utils/mixin";

header{
    #menu{
        @include menu
    }
}

section{
    
    .p-bio{
        display: flex;
        margin: 15px;
        p{
            font-size: 35px;
            text-align: left;
        }
        img{
            width: 40%;
            height: 33%;
            
        
        }
    }
}



#t-bio{
    text-align: left;
    margin-left: 2%;
    font-size: 55px;
}

body{
    header{
        h1{
            text-align: left;
        }
    }
}

